@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-repeat: no-repeat;
}
/* App */
.App {
    /* background: linear-gradient(180deg, rgba(29, 33, 35, 0.8) 0%, #1D2123 61.48%), url(./images/Lead-image.png); */
    /* background-color: #1D2123; */
    font-family: 'Quicksand', sans-serif;
}
/* Side Bar */
.music-links {
    background-color: #1A1E1F;
    border-radius: 50px;
}
.user-links {
    background-color: #1A1E1F;
    border-radius: 50px;
}

/* Search Bar */
.search::placeholder {
    color: #FFFFFF40;
}
.search {
    background-color: transparent;
    color: white;
}
.search:focus {
    border: none;
    outline: none;
}
.search-bar {
    border-radius: 30px;
    border-width: 1px;
    border-color: transparent;
}
.search-bar:focus-within {
    border: 1px solid gray;
}

/* Banner */
.banner {
    background-color: #609EAF;
    border-radius: 40px;
    overflow: hidden;
}
.eric,.vector {
    right: 2px;
    top: 0;
}
.eric {
    height: 400px;
    width: 370px;
}
.picture-likes img {
    width: 30px;
}

/* Chart */
.chart-card {
    background-color: #1A1E1F;
    border-radius: 20px;
    cursor: pointer;
}
.like-icon {
    border: 2px solid #FFFFFF1C;
    border-radius: 50%;
}

/* Home Songs */
.song-card img{
    border-radius: 25px;
}

/* Playing Bar */
.play-bar {
    bottom: 0;
    /* From https://css.glass */
    background: rgba(51, 55, 59, 0.77);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: sticky;
    position: -webkit-sticky;
}
.play-button{
    background-color: white;
    border-radius: 50%;
}

/* View Chart Banner */
.chart-banner-action {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 32px;
}
.chart-title {
    color: #A4C7C6;
}
.chart-banner img {
    border-radius: 35px;
}

/* Listed Song */
.song-list {
    background: rgba(51, 55, 59, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
}
.options-paper {
    bottom: 27px;
    left: -100px;
}

/* Collections */
.collection-img {
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 20px;
}
.collection-card h1 {
    color: #EFEEE0;
    overflow: hidden;
}
.collection-title {
    border: 1px #EFEEE0 solid;
    color: #EFEEE0;
    border-radius: 27px;
}
.collection-active {
    border: none;
    background-color: #FACD66;
    color: #1D2123;
    border-radius: 27px;
}
.coll-play {
    background-color: #FACD66;
    border-radius: 50%;
}
