@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* App */
.App {
    background-color: #1D2123;
    font-family: 'Quicksand', sans-serif;
}
/* Side Bar */
.side-bar {
    background-color: #1D2123;
}
.music-links {
    background-color: #1A1E1F;
    border-radius: 50px;
}
.user-links {
    background-color: #1A1E1F;
    border-radius: 50px;
}

/* Search Bar */
.search::placeholder {
    color: #FFFFFF40;
}
.search {
    background-color: #1D2123;;
}

/* Banner */
.banner {
    background-color: #609EAF;
    border-radius: 40px;
    overflow: hidden;
}
.eric,.vector {
    right: 2px;
    top: 0;
}
.eric {
    height: 400px;
    width: 370px;
}
.picture-likes img {
    width: 30px;
}

/* Chart */
.chart-card {
    background-color: #1A1E1F;
    border-radius: 20px;
}
.like-icon {
    border: 2px solid #FFFFFF1C;
    border-radius: 50%;
}

/* Home Songs */
.song-card img{
    border-radius: 25px;
}
